/* Estilos globales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Encabezado */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header .logo img {
    width: 100px;
    height: auto;
}

.header a {
    color: #FFF;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: all 0.7s ease;
}

.header a:hover {
    background-color: #C11A1A;
    border: 1px solid #C11A1A;
}

/* Tabla */
.table-container {
    margin: 20px;
    width: 100%;
    overflow: auto;
    max-height: 500px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.table th {
    background-color: #333;
    color: #fff;
    position: sticky;
    top: 0;
}

/* Botones */
.button-container {
    text-align: center;
    margin: 20px;
cursor: pointer;
 transition: background-color 0.3s, transform 0.3s;
        text-transform: uppercase;
}

.button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
 transition: background-color 0.3s, transform 0.3s;
        text-transform: uppercase;
}

.button:hover {
    background-color: #1e7e34;
}

/* Pie de Página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}
